.headerSlider {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: gold;
  padding: 5px 10px 5px 10px;
  z-index: 100;
}
.headerSliderRight {
  display: flex;
  align-items: center;
}
.burg {
  cursor: pointer;
}
.searchIcon {
  margin-right: 1.5rem;
  cursor: pointer;
}
@media (max-width: 820px) {
  .headerSlider {
    display: flex;
  }
}
