.schedule_right_card {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 0.8rem;
  border: 2px solid black;
  cursor: pointer;
}
.c_left {
  display: flex;
  align-items: center;
}
.c_left > img {
  width: 25%;
  object-fit: contain;
}
.c_right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c_right > p {
  margin-right: 1rem;
  font-size: 1.2vw;
}
