@media (max-width: 600px) {
  h2 {
    font-size: 4.6vw !important;
  }
  p {
    font-size: 3.1vw !important;
  }
  h3 {
    font-size: 4.4vw !important;
  }
  h4 {
    font-size: 4.2vw !important;
  }
}
